div.navbar {
  width: 13em;
  background: palegreen;
  /* position: absolute; */
  float: left;
}

div.adminstuff
{
  background: gold;
  color: green;
}


div.content
{
  margin-left: 14em;
}

div.messages
{
  background: #d0d0ff;
}

/* links to resources outside the grninfo system */
a.outlink:link
{
  color: rgb(128, 128, 128);
  font-style: italic;
}

a.outlink:visited
{
  color: rgb(64, 64, 64);
  font-style: italic;
}

.errorMessage
{
  color: red;
  font-weight: bolder;
}

.errormessage
{
  color: red;
  font-weight: bolder;
}

.infomessage
{
  color: green;
  font-style: italic;
}

.todonote
{
  font-size: small;
  font-family: sans-serif;
  font-style: italic;
  font-color: grey;
}

table
{
  vertical-align: baseline;
}

td
{
  vertical-align: baseline;
}

.scientificname
{
  font-style: italic;
}
